.Wrapper {
  width: 100%;
  background: linear-gradient(
    81deg,
    #e7f0ff 9.01%,
    rgba(232, 241, 255, 0.47) 89.11%
  );
  height: auto;
  @media screen and (max-width: 1022px) {
    width: 100%;
    height: auto;
  }
}

.SearchFORMWrapper {
  width: 780px;
  height: auto;
  position: absolute;
  top: 176px;
  left: 370px;
  padding: 27px 24px 27px 24px;
  gap: 29px;
  border-radius: 15px;
  opacity: 0px;
  background: #ffffff;
  box-shadow: 6px 6px 35px 0px #1028511c;
  @media screen and (max-width: 1022px) {
    width: 80%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}

.Input {
  width: 545px;
  height: 40px;
  padding: 10px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-align: left;
  border-radius: 8px;
  border: 1px solid #f0f0f0;
  color: black;

  @media screen and (max-width: 1022px) {
    width: 80%;
    height: auto;
    line-height: 15px;
  }
}

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 177px;
  height: auto;
  margin-left: 20px;
  padding: 12px 52px 12px 52px;
  border: 0;
  border-radius: 8px;
  background: #2aa8ff;
  cursor: pointer;
  @media screen and (max-width: 1022px) {
    width: 40%;
    height: auto;
    padding: 0px;
    margin-top: 20px;
    margin-left: 0;
  }
}

.ButtonText {
  margin-left: 8px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #ffffff;
}

.CardWrapper{
  width: 786px;
  height: 268.38px;
  border-radius: 15px;
  background: #FFFFFF;
  border: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  @media screen and (max-width: 1022px) {
    width: 88%;
    height: auto;
    padding: 10px;
    margin-top: 20px;
    flex-direction: column;

  }


}

.NoBooking{
  display: flex;
  justify-content: center;
  align-items: center;
 width: 100%;
 height: auto;
 margin-top: 100px;
 margin-bottom: 100px;

 @media screen and (max-width: 1022px) {
  width: 100%;
  height: auto;
 margin-top: 50px;
 margin-bottom: 30px;
 text-align: center;
}
}

.NoBookingText{
  font-family: Poppins;
font-size: 40px;
font-weight: 600;
line-height: 58px;
text-align: center;
color: #14BEF0;

@media screen and (max-width: 1022px) {
 text-align: center;
 font-size: 25px;
line-height: 40px;
}

}

.CardLeft{
height: auto;
width: auto;
display: flex;
/* width: 65%; */
justify-content: space-between;
}

.CardLeftImage{
  margin-right: 20px;
  @media screen and (max-width: 1022px) {
   display: none;
   }
}

.CardLeftContent{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */

  @media screen and (max-width: 1022px) {
    
    }
}


.HosptialName {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: #14bef0;
  @media screen and (max-width: 768px) {
    margin-bottom: 20px;
    line-height: 22px;
    text-align: center;
  }
}

.HosptialInfo {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.6px;
  text-align: left;
  color: black;
  @media screen and (max-width: 768px) {
    margin-bottom: 20px;

    text-align: center;
  }
}

.Rating {
  @media screen and (max-width: 768px) {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.CardRight{
  width: 30%;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    width: 80%;
  }

}

.Slot{
  width: 84px;
height: 31.59px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 3px;
border: 1px solid #2AA7FF;
font-family: Lato;
font-size: 14px;
font-weight: 400;
line-height: 19.6px;
color: #2AA7FF;
}

.Time{
  width: 128px;
height: 32px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 3px;
border: 1px solid #00A500;
font-family: Lato;
font-size: 14px;
font-weight: 700;
line-height: 19.6px;
text-align: center;
color: #007100;

}
