/* .NavBarContainer {
  display: flex;
  width: 1440px;
  height: 96px;
  align-items: center;
  background: linear-gradient(
    81deg,
    #e7f0ff 9.01%,
    rgba(232, 241, 255, 0.47) 89.11%
  );
  justify-content: space-around;
}

.NavBarMenu {
  display: flex;
  width: 912px;
  height: 40px;
}

.SubContainer {
  width: 694px;
  height: 21px;
  display: flex;
  
}

.NavBarButtons {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #102851;
  margin-right: 20px;
  margin-left: 20px;
  border: 0;
  border-radius: 0;
  background: none;
}

.Booking {
  width: 130px;
  height: 40px;
  border-radius: 8px;
  background: #2aa8ff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #ffffff;
  border: 0;
} */

.NavBarWrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1440px;
}

.NavBarMenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-left: 20px;
    margin-right: 20px; */
}

.menus{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 920px;
}