.AdvertiseWrapper {
  height: 429px;
  width: 1440px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;

  @media screen and (max-width: 768px) {
    height: auto;
    width: 100%;
    }

}

.ImageWrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  @media screen and (max-width: 768px) {
    height: auto;
    flex-direction: column;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    }
}

.img{
    @media screen and (max-width: 768px) {
        margin-bottom: 100px;
        width: 80px;
        height: auto;
        }
}

.BottomWrapper {
  width: 1150px;
  height: 37px;
  padding: 9px 0px 18px 0px;
  text-align: center;

  @media screen and (max-width: 768px) {
    height: auto;
    flex-direction: column;
    width: 80%;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    }

}

.imgAdv{
    @media screen and (max-width: 768px) {
        height: 10px;
        width: auto;
        flex-direction: column;
        width: 10%;
        
        align-items: center;
        margin-top: 20px;
        }
}